<!DOCTYPE html>
<html>
<head>
    <title>Draw Points on Folium Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="shortcut icon" href="#">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"
            crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/f342b71bc7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/dist/MarkerCluster.css">
    <link rel="stylesheet" href="../static/dist/MarkerCluster.Default.css">
    <script src="../static/dist/leaflet.markercluster.js"></script>

</head>

<body>

<div id="pre-loader">

</div>

<div id="dark-screen">

</div>

<div id="white-screen">

</div>

<div id="tutorial-gif-container">
    <button id="close-gif-button">X</button>
    <img src=".\static\images\tutorial_delete_selected_feature.gif" alt="delete-selected-feature-gif" width="100%">
</div>

<div id="potential-info">
    <div id="potential-info-container">
        <div id="potential-info-container-positioner"><a onclick="closePotentialInfo()" href="#">X</a></div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;Potansiyel satışı elde etmek için ekmek satış verileri bağımlı değişken,
            erişilebilen nüfus verileri ise
            bağımsız değişken olarak kullanıldı.
            Model eğitimi için veri seti kullanıldı ve test setinde erişilebilen nüfus verileri kullanılarak potansiyel
            satış tahminlemesi yapıldı.
            Bu analiz yöntemi, farklı mahallelerdeki ekmek satış potansiyellerini değerlendirmek ve satışların
            erişilebilen
            nüfusa bağlı olarak nasıl
            değişebileceğini anlamak için önemli bir araçtır.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Potansiyel satışı elde etmek için mahalle bazında ekmek satış verileri ile
            erişebilen yapı nüfusu verilerine
            sahip mahalleler kullanılarak
            bir tahminleme işlemi gerçekleştirildi. K-means algoritması kullanılarak, sadece erişebilen yapı nüfusu
            verilerine sahip olan mahallelerin ekmek
            satış verileri tahminlendi. Bu tahminleme süreci, tüm mahalleler için potansiyel satış verileri elde
            edilmesini
            sağladı. Sonuç olarak, bu analiz
            sayesinde erişebilen yapı nüfusu verilerine sahip olan mahallelerdeki ekmek satış potansiyelleri daha iyi
            anlaşılmış oldu.
        </div>
    </div>
</div>

<div id="map"></div>

<button id="menu" title="Menü" type="button">
    <ion-icon name="menu-outline" size="large"></ion-icon>
</button>

<div id="search-bar-container">
    <form onsubmit="submitForm(event)">
        <input type="text" placeholder="Adres Giriniz" id="search-bar-input" name="search-bar-input">
        <a id="clear-address">X</a>
        <button type="submit" id="submit-button">
            <ion-icon name="search-sharp" style="font-size: 20px"></ion-icon>
        </button>
    </form>
    <div id="result-container"></div>
</div>

<div id="all-items-delete-popup">
    <h3 style="margin: 0; padding: 0;"> Tüm Konumları Silmek İstiyor Musunuz?</h3>
    <div class="popup-buttons-container">
        <button id="delete-button">Sil</button>
        <button id="cancel-button-delete">İptal</button>
    </div>
</div>

<div id="add-marker-popup">
    <h3>Konum Eklemek İstiyor Musunuz?</h3>
    <div class="popup-buttons-container">
        <input id="add-input" type="text" placeholder="Konum İsmi Giriniz: ">
        <button id="add-button">Ekle</button>
        <button id="cancel-button-add">İptal</button>
    </div>
</div>

<div id="button-container-first">
    <button title="Uygunluk Katmanı" id="toggle-layer" class="button-properties">
        <ion-icon name="layers"></ion-icon>
    </button>
</div>

<div id="button-container-second">
    <button title="Ulaşamayanlar Katmanı" id="toggle-layer1" class="button-properties">
        <ion-icon name="layers"></ion-icon>
    </button>
    <button title="60 Yaş Üstü Katmanı" id="toggle-layer2" class="button-properties">
        <ion-icon name="layers"></ion-icon>
    </button>
</div>

<div id="button-container-third">
    <button title="Tabloda Göster" id="show-table" class="button-properties">
        <i class="fa fa-solid fa-chart-line" style="font-size: 17px;"></i>
    </button>
    <button title="Tüm Konumları Sil" id="delete-features" class="button-properties">
        <ion-icon name="trash"></ion-icon>
    </button>
    <button title="Son Konumu Sil" id="delete-last-feature" class="button-properties">
        <i class="fa fa-regular fa-arrow-left"></i>
    </button>
    <button title="Seçili Konumu Sil" id="delete-selected-feature" class="button-properties">
        <i class="fa fa-solid fa-eraser"></i>
    </button>
    <button title="Tüm Konum Özelliklerini Kaydet" id="save-features" class="button-properties">
        <i class="fa fa-solid fa-download"></i>
    </button>
    <button title="Ön İzlemeleri Aç/Kapa" id="activate-tutorials" class="button-properties">
        <i class="fas fa-info-circle"></i>
    </button>
</div>

<div id="table-container">
    <table id="marker-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>LOKASYON</th>
            <th>ENLEM</th>
            <th>BOYLAM</th>
            <th>GRIDCODE</th>
            <th>UYGUNLUK</th>
            <th>MAHALLE</th>
            <th>İLÇE</th>
            <th>SES SEGMENT</th>
            <th>MAHALLE NÜFUS</th>
            <th>ERİŞİLEBİLİR NÜFUS</th>
            <th>ERİŞİLEBİLİR YAPI SAYISI</th>
            <th>İLÇE BÜFE SAYISI</th>
            <th>MAHALLE BÜFE SAYISI</th>
            <th>POTANSİYEL SATIŞ</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<div class="popup">
    <h1 class="popup-title">Uygunluk Analizi Simülasyon Motoru</h1>
    <p class="popup-description">Uygunluk analizi, kategorik verilerin yorumlanmasını kolaylaştıran bir yöntemdir.
        Analiz sonucunda elde edilen çapraz tablolarda, satır ve sütun değişkenleri arasındaki benzerlikler,
        farklılıklar ve ilişkiler daha anlaşılır hale gelir. Böylece, birlikte değişimleri daha
        az boyutlu bir uzayda grafiksel olarak göstermek mümkün olur. Bu sayede, sizin
        için en uygun yeri belirlemek için işaretlediğiniz noktaların analiz sonuçlarını
        kontrol ederek daha doğru bir karar vermenize yardımcı oluyoruz. </p>
    <p style="font-size: 17px;">İşte başlamanıza yardımcı olacak bazı ipuçları:</p>

    <button class="close-btn">
        <ion-icon name="close-circle-outline"></ion-icon>
    </button>

    <div class="item-container">
        <i class="fa fa-map-marker" aria-hidden="true"></i> - Bu haritaya bir konum(marker) eklemek için kullanılır.
    </div>
    <div class="item-container">
        <i class="fa fa-regular fa-layer-group"></i> - Bu buton bir katmanın açık veya kapalı olmasını değiştirmek için
        kullanılır.
    </div>
    <div class="item-container">
        <i class="fa fa-solid fa-chart-line"></i> - Bu buton bir tablonun görüntülenmesi için kullanılır.
    </div>
    <div class="item-container">
        <i class="fa fa-solid fa-trash"></i> - Bu buton harita üzerindeki tüm konum bilgilerini silmek için kullanılır.
    </div>
    <div class="item-container">
        <i class="fa fa-solid fa-eraser"></i> - Bu buton haritaya son eklenen konumun bilgisini silmek için kullanılır.
    </div>
    <div class="item-container">
        <i class="fa fa-regular fa-arrow-left"></i> - Bu buton haritadan seçilen konumun bilgilerini silmek için
        kullanılır.
    </div>
    <div class="item-container">
        <i class="fa fa-solid fa-download"></i> - Bu buton haritadaki konumları kaydetmek için kullanılır.
    </div>
    <div class="item-container">
        <i class="fas fa-info-circle"></i> - Bu buton diğer butonların kullanımı hakkında bilgi almak için kullanılır.
    </div>
    <p class="created-by">Coğrafi Bilgi Sistemi Şube Müdürlüğü tarafından 💖 ile yapıldı.</p>
    <p class="update-date">Güncellenme Tarihi: 13.06.2023</p>
</div>
<script src="../static/main.js"></script>
</body>
</html>
