<!DOCTYPE html>
<html>
<head>
    <title>Draw Points on Folium Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" crossorigin="anonymous"></script>
</head>
    <style>
      #map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
      }
    </style>
<body>
    <div id="map" ></div>
    <script>
        var map = L.map('map').setView([41.008806, 28.980162], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
        }).addTo(map);
        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            edit: {
                featureGroup: drawnItems,
                edit: false
            },
            draw: {
                polygon: false,
                circle: false,
                marker: {
                    icon: new L.Icon.Default(),
                    repeatMode: true
                },
                circlemarker: false,
                rectangle: false,
                polyline: false
            }
        });
        map.addControl(drawControl);
        map.on('draw:created', function (e) {
            var type = e.layerType,
                layer = e.layer;
            if (type === 'marker') {
                // Do something with the marker here, e.g. send it to the server
                console.log(layer.toGeoJSON());
        $.ajax({
            url: '/save-points',
            type: 'POST',
            data: JSON.stringify({points: layer.toGeoJSON()}),
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });

        console.log(drawnItems.toGeoJSON()); // log the GeoJSON data
            }
            drawnItems.addLayer(layer);
            console.log(drawnItems.toGeoJSON());
        });
    </script>
</body>
</html>
